
@media print {
    body {
        page-break-inside: avoid;
    }
    .footer, .survivorsf, a{
		display: none;
	}
    .btn {
        display: none !important;
    }
    
    h1,
    h2,
    p
     {
        font-size: 16px;
        color:rgb(0, 0, 0) !important;
    }
    
    
    body,
    header,
    footer,
    main,
    section {
        margin: 0;
        padding: 0;
        color: black!important;
    }
    
    .white-table th, .white-table td{
        color: black!important;
    }
    .section {
        margin-bottom: 20px;
        color: black!important;
    }
}

@page {
	margin: 10mm 10mm 10mm 20mm;
}